@media (max-width: 1300px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .loc {
    margin-left: 40px;
  }
}
@media (max-width: 980px) {
  .location {
    display: flex;
    justify-content: space-around;
  }
  .footerimg {
    margin-left: 40px;
  }
  .loc {
    margin-left: 100px;
  }
  .listen,
  .listen1 {
    display: none;
  }
  .video {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 670px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 15px;
  }
  .shop-box {
    margin: 0 auto;
  }
  .div-burgerbar{
    display: block;
  } 

  .ul{
    display: none;
  }


}
