header {
  background-image: url("../img/head-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 500px;
}
.curent-page {
  text-decoration: underline;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.store-name {
  margin-top: 30px;
  margin-left: 40px;
  color: white;
}
.logo {
  display: flex;
  margin-left: 50px;
  margin-top: 30px;
}
.mainimg {
  margin-top: 70px;
  width: 400px;
}
.eddys-1 {
  font-family: "Permanent Marker", cursive;
  text-shadow: #fc0 1px 0 10px;
}
.eddys {
  font-size: 130px;
  color: azure;
  margin-top: 170px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  text-shadow: #fc0 1px 0 10px;
}

.ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 30px;
  font-family: "Permanent Marker", cursive;
  text-shadow: #fc0 1px 0 10px;
}
a {
  color: white;
}

/*shoping section  */
.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
.shop-box {
  margin: 50px 30px 40px 50px;
  width: 350px;
  height: 350px;
  box-shadow: 10px 4px 41px 34px rgba(188, 188, 188, 0.82);
  -webkit-box-shadow: 10px 4px 41px 34px rgba(188, 188, 188, 0.82);
  -moz-box-shadow: 10px 4px 41px 34px rgba(188, 188, 188, 0.82);
}
.img1 {
  height: 350px;
  width: 350px;
}
.shop-info {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 90px 50px 0px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.creator {
  text-shadow: 15px 31px 5px rgba(0, 0, 0, 0.29);
  margin-bottom: 60px;
  font-size: 26px;
  font-weight: 500;
}
.shopid {
  width: 100%;
  height: auto;
}
.shop-id {
  display: flex;
  font-family: "Permanent Marker", cursive;
  width: 100px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 26px;
  text-shadow: 4px 8px 28px rgba(0, 0, 0, 0.582);
}

.shop-section {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

.price {
  font-size: x-large;
  text-shadow: rgba(0, 0, 0, 0.678) 1px 0 10px;
  margin-bottom: 40px;
}
p {
  font-family: "Chakra Petch", sans-serif;
  font: 500;
}
.add-to-bag {
  display: flex;
  font-size: 16px;
  font-family: "Permanent Marker", cursive;
  border: none;
  width: 180px;
  height: 50px;
  background: rgba(0, 0, 0, 0.925);
  margin-top: 30px;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 100px;
  height: 100px;
}
.load {
  width: 150px;
  height: 60px;
  margin-bottom: 40px;
  background-color: black;
  color: #dee4ea;
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
  margin-top: -20px;
}
/* footer */
.location {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  width: 100%;
  background-image: url("../img/map-background.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footerimg {
  height: 500px;
  margin-top: 120px;
  margin-left: 200px;
  /* box-shadow: 12px 12px 12px 12px rgba(20, 40, 95, 0.2); */
  box-shadow: rgb(38, 57, 77) 10px 20px 30px -10px;
}
.loc {
  color: #dee4ea;
  margin-left: 250px;
  margin-top: 200px;
  font-family: "Permanent Marker", cursive;
  user-select: none;
  text-align: center;
}
.footerli {
  margin-top: 10px;
}
.footerli:hover {
  transform: scale(1.2);
}

/* scrollbar */
/*  */

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.699);
  background-color: rgba(167, 167, 167, 0.705);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  outline: 1px solid rgb(49, 49, 49);
}
/* animation */
.zoom:hover {
  transform: scale(1.5);
}
.img1:hover {
  transform: scale(1.1);
}
.add-to-bag:hover {
  text-shadow: rgb(255, 255, 255) 4px 0 10px;
}
.load:hover {
  background-color: white;
  color: #000;
}
.footerimg:hover {
  transform: scale(1.1);
}
/* video */
.listen {
  margin-top: 200px;
  margin-left: 100px;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}
.listen1 {
  margin-top: 200px;
  margin-right: 100px;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}
.video-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #d4d4d4;
  background-image: linear-gradient(147deg, #e9e9e9 0%, #dee4ea 74%);
}
.video {
  display: flex;
  width: 800px;
  height: 400px;
  margin-bottom: 100px;
  margin-top: 40px;
  box-shadow: rgb(38, 57, 77) 0px 50px 60px -7px;
  border-radius: 40px;
}
.video:hover {
  transform: scale(1.1);
  background-image: linear-gradient(147deg, #4d4c4c 0%, #757575 74%);
  box-shadow: rgb(38, 57, 77) 0px 60px 60px -7px;
}
/* discription */
.discription {
  margin-top: 40px;
  margin-bottom: 10px;
}
.discription2 {
  font-family: "Permanent Marker", cursive;
}
